body {
	margin:0;
	height: 450px;
	background:#2c2c2c;
}
#text {
	margin-top:-150px;
	margin-left:-120px;
	width:120px;
	top:50%; left:50%;
	text-transform:uppercase;
	color:#BE3E1B;
	font-size:100%;
	font-weight:bold;
	text-shadow:-1px 1px 3px #DBC558, -1px 1px 1px #FFF38F;
	text-align:center;
}
div {
	position:absolute;
	-webkit-transform-style:preserve-3d;
}
#page {
	height:100%;
	width:100%;

	-moz-perspective:700px;
	background-image: -moz-linear-gradient(left , rgb(84,116,137) 0%, rgb(133,160,177) 50%, rgb(84,116,137) 100%);
}
#container {
	height:300px;
	width:300px;
	top:50%; left:50%;
	margin-top:-150px;
	margin-left:-150px;
	-webkit-box-reflect: below  -7px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, transparent), to(rgba(255,255,255,0.2)));
}

.teteHitler{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	
	overflow: hidden;
	
	position: absolute;
	top:60px;
	left:100px;
	background-image: url('../img/hitler.jpg');
}
.teteStaline{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;

	position: absolute;
	top:60px;
	left:100px;

	background-image: url('../img/staline.jpg');
}
.teteObama{
	width: 100px;
	height: 100px;
	border-radius: 50px;

	overflow: hidden;

	position: absolute;
	top:60px;
	left:100px;

	background-image: url('../img/head_obama.png');
}
#corps{
	width: 11px;
	height: 150px;
	background-color: white;
	position: absolute;
	top:159px;
	left:144px;
}

#jambe_gauche{
	width: 100px;
	height: 5px;
	background-color: white;
	position: absolute;
	top:340px;
	left:60px;
	-webkit-transform:rotate(-45deg);
}

#jambe_droite{
	width: 100px;
	height: 5px;
	background-color: white;
	position: absolute;
	top:340px;
	left:135px;
	-webkit-transform:rotate(45deg);
}



/* ========= Mouvements ========= */

.bras{
    width: 5px;
    height: 100px;

    background-color: white;
    position: absolute;

    transition: all 300ms linear;
    transform-origin:50% 0%;
    top:170px !important;
    left:147px !important;
}

.bras_gauche {transform:rotate(5deg)}
.bras_droit {transform:rotate(-5deg)}


.bras_move_-135 { transform:rotate(-135deg) !important}
.bras_move_-90 { transform:rotate(-90deg) !important}
.bras_move_-45 { transform:rotate(-45deg) !important}
.bras_move_45 { transform:rotate(45deg) !important}
.bras_move_90 { transform:rotate(90deg) !important}
.bras_move_135 { transform:rotate(135deg) !important}
.bras_move_180 { transform:rotate(180deg) !important}
.bras_move_-180 { transform:rotate(-180deg) !important}
.bras_move_360 { transform:rotate(360deg) !important; transition: all 600ms linear !important}
.bras_move_-360 { transform:rotate(-360deg) !important; transition: all 600ms linear !important}
.bras_move_0 { transform:rotate(0deg) !important; transition: all 600ms linear !important}






.tete_move1{
	top:60px !important;
	left:100px !important;

	/* Rotation axiale */
	transform: rotateX(0deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

.tete_move2{
	top:80px !important;
	left:100px !important;

	/* Rotation axiale */
	transform: rotateX(50deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}



/*en haut à droite*/
.jambe_move1{

	top:270px !important;
	left:135px !important;

	/* Rotation */
	-webkit-transform:rotate(-45deg) !important;

	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}


/*au milieu à droite*/
.jambe_move2{

	top:304px !important;
	left:150px !important;

	/* Rotation */
	-webkit-transform:rotate(0deg) !important;

	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

/*en bas à droite*/
.jambe_move3{

	top:340px !important;
	left:135px !important;

	/* Rotation */
	-webkit-transform:rotate(45deg) !important;


	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

/*en bas à gauche*/
.jambe_move4{

	top:340px !important;
	left:63px !important;

	/* Rotation */
	-webkit-transform:rotate(135deg) !important;


	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

/*au milieu à gauche*/
.jambe_move5{

	top:304px !important;
	left:50px !important;

	/* Rotation */
	-webkit-transform:rotate(180deg) !important;


	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear ;
    -o-transition: all 300ms linear ;
    -ms-transition: all 300ms linear ;
}

/*en haut à gauche*/
.jambe_move6{

	top:270px !important;
	left:60px !important;

	/* Rotation */
	-webkit-transform:rotate(225deg) !important;


	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear ;
    -o-transition: all 300ms linear ;
    -ms-transition: all 300ms linear ;
}

/*en haut à droite*/
.jambe_move7{

	top:272px !important;
	left:140px !important;

	/* Rotation */
	-webkit-transform:rotate(320deg) !important;

	/* Deplacement */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear ;
    -o-transition: all 300ms linear ;
    -ms-transition: all 300ms linear ;
}












