@import url('reset.css');

body{
    background:#000000 url(../img/fond_scene.jpg) repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    color: #333;
    font-family: 'Terminal Dosis', Arial, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 500px;

}

div {
    position:absolute;
    -webkit-transform-style:preserve-3d;
}

#intro{
    padding:0;
    margin: -30px auto;
    width: 100%;
}


#game{
    position:relative;
    top:40px;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
}

#perso{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left:90px;
	top: -20px;
}


#tete{
	width: 150px;
	height: 150px;
	border-radius: 50px;
	
	position: absolute;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: 50% 100%;
}

.teteObama{
	background-image: url('../img/tete/head_obama_1.png') !important;
}
.teteMerkel{
	background-image: url('../img/tete/head_merkel_1.png') !important;
}
.teteHollande{
	background-image: url('../img/tete/head_hollande_1.png') !important;
}
.tetePoutine{
	background-image: url('../img/tete/head_poutine_1.png') !important;
}
.teteCameron{
	background-image: url('../img/tete/head_cameron_1.png') !important;
}


#corps{
	width: 11px;
	height: 120px;
	background-color: white;
	position: absolute;
	top:159px;
	left:144px;
	border-radius: 50px;
	z-index: -10;
}



/* ========= Mouvements ========= */


.bras{
    width: 5px;
    height: 100px;

    background-color: white;
    position: absolute;

    transition: all 300ms linear;
    transform-origin:50% 0%;
    top:164px !important;
    left:147px !important;
   	border-radius: 50px;

}

.bras_gauche {transform:rotate(15deg)}
.bras_droit {transform:rotate(-15deg)}

/* Rotation dans le sens des aiguilles d'une montre */
.move_-360 { transform:rotate(-360deg) !important; transition: all 700ms linear !important}
.move_-315 { transform:rotate(-315deg) !important; transition: all 700ms linear !important}
.move_-270 { transform:rotate(-270deg) !important; transition: all 700ms linear !important}
.move_-225 { transform:rotate(-225deg) !important; transition: all 700ms linear !important}
.move_-180 { transform:rotate(-180deg) !important}
.move_-135 { transform:rotate(-135deg) !important}
.move_-90 { transform:rotate(-90deg) !important}
.move_-50 { transform:rotate(-50deg) !important}
.move_-45 { transform:rotate(-45deg) !important}

.move_0 { transform:rotate(0deg) !important; transition: all 700ms linear !important}

/* Rotation dans le sens des aiguilles d'une montre */
.move_45 { transform:rotate(45deg) !important}
.move_50 { transform:rotate(50deg) !important}
.move_90 { transform:rotate(90deg) !important}
.move_135 { transform:rotate(135deg) !important}
.move_180 { transform:rotate(180deg) !important}
.move_225 { transform:rotate(225deg) !important; transition: all 700ms linear !important}
.move_270 { transform:rotate(270deg) !important; transition: all 700ms linear !important}
.move_315 { transform:rotate(315deg) !important; transition: all 700ms linear !important}
.move_360 { transform:rotate(360deg) !important; transition: all 700ms linear !important}




/* Balancement d'arrière en avant */
.tete_move1{
    top:12px !important;
    left:80px !important;

	/* Rotation axiale */
	transform: rotateX(0deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

.tete_move2{
	top:40px !important;
	left:80px !important;

	/* Rotation axiale */
	transform: rotateX(50deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

/* Balancement de droite à gauche */
.tete_move3{
    top:12px !important;
    left:74px !important;

	transform:rotate(-5deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

.tete_move4{
    top:12px !important;
    left:86px !important;

	transform:rotate(5deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
}





.jambe{
    width: 5px;
    height: 120px;

    background-color: white;
    position: absolute;

    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    transform-origin:50% 0%;
    top:272px !important;
    left:147px !important;
   	border-radius: 50px;

}

.jambe_gauche {transform:rotate(25deg);}
.jambe_droite {transform:rotate(-25deg);}


/* Interface de jeu */
#niveau, #point, #touche, #touche_suivante, #chrono, #commentaire, #vie{
    color: #fff;
    font-family: 'Terminal Dosis', Arial, sans-serif;
}

#touche, #touche_suivante, #chrono{font-size: 13px;}

#niveau{font-size: 35px; top: -10px; right: 0px;}
#point{top: 90px; right: 0px; font-size: 15px;}
#vie{top: 120px; right: 0px; font-size: 15px;}
#touche{top: 0px;}
#touche_suivante{top: 90px;}
#chrono{top: 300px;}

#commentaire{
	top: 200px;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
}

#fleche_suivante{
    width: 100px;
    height: 100px;
    top:90px;
    left: -35px;
    transform: scale(0.5);
    opacity: 0.5;
}

#fleche{
    width: 100px;
    height: 100px;
    top:0px;
    left: -35px;
    transform: scale(0.5);
}

.haut{background-image: url('../img/fleche/haut.png') !important;}
.droite{background-image: url('../img/fleche/droite.png') !important;}
.bas{background-image: url('../img/fleche/bas.png') !important;}
.gauche{background-image: url('../img/fleche/gauche.png') !important;}
.defaut{background-image: url('../img/fleche/defaut.png') !important;}

#vie{
    width: 100px;
    height: 15px;
    top: 60px;
    right: 0px;
}

.vie1{background-image: url('../img/vie/vie1.png') ! important; background-repeat: no-repeat; background-position: right top;}
.vie2{background-image: url('../img/vie/vie2.png') ! important; background-repeat: no-repeat; background-position: right top;}
.vie3{background-image: url('../img/vie/vie3.png') ! important; background-repeat: no-repeat; background-position: right top;}


/* Player audio */

#wrapperPlayer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:225px;
    right: -100px;
}

#playlist, audio{
    width:250px;
    padding:0px;
    list-style: none;
}

#playlist .active a{
    color:#5DB0E6;
    text-decoration:none;
}

#playlist li a{
    color:#eeeedd;
    background: rgba(10,10,10,0.8);
    padding:5px;
    display:block;
    text-decoration:none;
}

#playlist li a:hover{
    text-decoration:none;
}


.choose{
    font-family: 'Montserrat', sans-serif;
    color:  #FFFFFF;
    font-size: 22px;
    text-shadow:0 0 2px #FFFFFF;
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-animation-name: clignote;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes clignote {
    0%, 100%{
        text-shadow:0px 0px 10px #FFFFFF;
        -webkit-animation-timing-function: ease-out;
    }
    50%{
        text-shadow:0px 0px 0px #FFFFFF;
        -webkit-animation-timing-function: ease-in;
    }
}

.change{
    font-family: 'Montserrat', sans-serif;
    color:  #FFFFFF;
    font-size: 18px;
    text-shadow:0 0 2px #FFFFFF;
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-animation-name: clignote;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count:infinite;
}

.choice{
    font-family: 'Montserrat', sans-serif;
    color:  #FFFFFF;
    font-size: 18px;
    width: 100%;
    text-align: center;
    position: relative;
}

.change a, .choice a{
    text-decoration: none;
    color: #FFF;
    position: relative;
    top:-86px;
}

.choice a:hover{
    text-shadow:0 0 10px #FFFFFF;

    /* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
}



#consignes{
    font-family: 'Montserrat', sans-serif;
    color:  #FFFFFF;
    font-size: 12px;
    width: 150px;
    top:-60px;
}
