@import url('reset.css');


.container_pano{
    position:relative;
    transform-origin:50% 0%;
    -webkit-animation: movep;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    top:-20px;
    margin-left: auto;
    margin-right: auto;
}


@-webkit-keyframes movep{
    0%{
        top:-700px;
        -webkit-animation-timing-function: ease-in-out;
    }
    80%{
        top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
    90%{
        top: -30px;
        -webkit-animation-timing-function: ease-in-out;
    }
    100%{
        top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
}

@-moz-keyframes movep{
    0%{
        top:-700px;
        -webkit-animation-timing-function: ease-in-out;
    }
    80%{
        top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
    90%{
        top: -30px;
        -webkit-animation-timing-function: ease-in-out;
    }
    100%{
        top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
}

@-ms-keyframes movep{
    0%{
        top:-700px;
        -webkit-animation-timing-function: ease-in-out;
    }
    80%{
        top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
    90%{
        top: -30px;
        -webkit-animation-timing-function: ease-in-out;
    }
    100%{
        top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
}

.pano{
    position:relative;
    width: 500px;
    height: 220px;
    background-image: url(../img/pano_3.png) !important;
    background-repeat: no-repeat;
    margin-bottom: 70px;
    transform-origin:50% 0%;
    animation: move 5s 0s ease-out infinite;
    -webkit-animation: move 5s 0s ease-in-out infinite;
    margin-left: auto;
    margin-right: auto;
}


@-webkit-keyframes move{
    0%{transform:rotate(-5deg);}
    50%{transform:rotate(5deg);}
    100%{transform:rotate(-5deg);}
}
@-moz-keyframes move{
    0%{transform:rotate(-5deg);}
    50%{transform:rotate(5deg);}
    100%{transform:rotate(-5deg);}
}
@-ms-keyframes move{
    0%{transform:rotate(-5deg);}
    50%{transform:rotate(5deg);}
    100%{transform:rotate(-5deg);}
}



.choose, .change{
    font-family: 'Montserrat', sans-serif;
    color:  #FFFFFF;
    font-size: 22px;
    text-shadow:0 0 2px #FFFFFF;
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-animation-name: clignote;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes clignote {
    0%, 100%{
        text-shadow:0px 0px 10px #FFFFFF;
        -webkit-animation-timing-function: ease-out;
    }
    50%{
        text-shadow:0px 0px 0px #FFFFFF;
        -webkit-animation-timing-function: ease-in;
    }
}

.change a{
    text-decoration: none;
    color: #FFF;
    position: relative;
    top:-86px;
}

.ca-menu{
    padding:0;
    margin:20px auto;
    width: 1020px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to{
    opacity: 1;
  }
}



.ca-menu li{
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float:left;
    background: #000000;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 30px;
    top: 20px;
    opacity: 0.1;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 40%;
    top: 60%;
}
.ca-main{
    font-size: 30px;
    opacity: 0.8;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 0px;
    line-height: 40px;
    width: 100%;
    left: 0px;
    opacity: 0.8;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
    background-color: #FFF;
    z-index:999;
    -webkit-transform: scale(1.1);  
    -moz-transform: scale(1.1);  
    -ms-transform: scale(1.1);   
    -o-transform: scale(1.1);   
    transform: scale(1.1);  
}
.ca-menu li:hover .ca-icon{
    opacity:1.0;
}

.ca-menu li:hover .ca-main{
    color: red;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: red;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}


.obama{
    background-image: url('../img/tete/head_obama_2.png');
    height: 150px;
    width: 150px;
}
.merkel{
    background-image: url('../img/tete/head_merkel_2.png');
    height: 150px;
    width: 150px;
}
.hollande{
    background-image: url('../img/tete/head_hollande_2.png');
    height: 150px;
    width: 150px;
}
.cameron{
    background-image: url('../img/tete/head_cameron_2.png');
    height: 150px;
    width: 150px;
}
.poutine{
    background-image: url('../img/tete/head_poutine_2.png');
    height: 150px;
    width: 150px;
}