@import url('reset.css');


#intro{
    padding:0;
    margin: -30px auto;
    width: 100%;
}


div {
	position:absolute;
	-webkit-transform-style:preserve-3d;
}

#game{
    position:relative;
    top:40px;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
}

#perso{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left:90px;
	top: -20px;
}

#page {
	height:50%;
	width:50%;
	line-height: 80px;

	-moz-perspective:700px;
	background-image: -moz-linear-gradient(left , rgb(84,116,137) 0%, rgb(133,160,177) 50%, rgb(84,116,137) 100%);
}



#tete{
	width: 150px;
	height: 150px;
	border-radius: 50px;
	
	position: absolute;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: 50% 100%;
}

.teteObama{
	background-image: url('../img/tete/head_obama_1.png') !important;
}
.teteMerkel{
	background-image: url('../img/tete/head_merkel_1.png') !important;
}
.teteHollande{
	background-image: url('../img/tete/head_hollande_1.png') !important;
}
.tetePoutine{
	background-image: url('../img/tete/head_poutine_1.png') !important;
}
.teteCameron{
	background-image: url('../img/tete/head_cameron_1.png') !important;
}


#corps{
	width: 11px;
	height: 120px;
	background-color: white;
	position: absolute;
	top:159px;
	left:144px;
	border-radius: 50px;
	z-index: -10;

}






/* ========= Mouvements ========= */

.bras{
    width: 5px;
    height: 100px;

    background-color: white;
    position: absolute;

    transition: all 300ms linear;
    transform-origin:50% 0%;
    top:164px !important;
    left:147px !important;
   	border-radius: 50px;

}

.bras_gauche {transform:rotate(15deg)}
.bras_droit {transform:rotate(-15deg)}

/* Rotation dans le sens des aiguilles d'une montre */
.move_-360 { transform:rotate(-360deg) !important; transition: all 700ms linear !important}
.move_-315 { transform:rotate(-315deg) !important; transition: all 700ms linear !important}
.move_-270 { transform:rotate(-270deg) !important; transition: all 700ms linear !important}
.move_-225 { transform:rotate(-225deg) !important; transition: all 700ms linear !important}
.move_-180 { transform:rotate(-180deg) !important}
.move_-135 { transform:rotate(-135deg) !important}
.move_-90 { transform:rotate(-90deg) !important}
.move_-50 { transform:rotate(-50deg) !important}
.move_-45 { transform:rotate(-45deg) !important}

.move_0 { transform:rotate(0deg) !important; transition: all 700ms linear !important}

/* Rotation dans le sens des aiguilles d'une montre */
.move_45 { transform:rotate(45deg) !important}
.move_50 { transform:rotate(50deg) !important}
.move_90 { transform:rotate(90deg) !important}
.move_135 { transform:rotate(135deg) !important}
.move_180 { transform:rotate(180deg) !important}
.move_225 { transform:rotate(225deg) !important; transition: all 700ms linear !important}
.move_270 { transform:rotate(270deg) !important; transition: all 700ms linear !important}
.move_315 { transform:rotate(315deg) !important; transition: all 700ms linear !important}
.move_360 { transform:rotate(360deg) !important; transition: all 700ms linear !important}




/* Balancement d'arrière en avant */
.tete_move1{
    top:12px !important;
    left:80px !important;

	/* Rotation axiale */
	transform: rotateX(0deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

.tete_move2{
	top:40px !important;
	left:80px !important;

	/* Rotation axiale */
	transform: rotateX(50deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

/* Balancement de droite à gauche */
.tete_move3{
    top:12px !important;
    left:74px !important;

	transform:rotate(-5deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

.tete_move4{
    top:12px !important;
    left:86px !important;

	transform:rotate(5deg) !important;

	/* Transition */
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}





.jambe{
    width: 5px;
    height: 120px;

    background-color: white;
    position: absolute;

    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transform-origin:50% 0%;
    top:272px !important;
    left:147px !important;
   	border-radius: 50px;

}

.jambe_gauche {transform:rotate(25deg);}
.jambe_droite {transform:rotate(-25deg);}



#niveau, #point, #touche, #touche_suivante, #chrono, #commentaire{
    color: #fff;
    font-family: 'Terminal Dosis', Arial, sans-serif;
    transform-origin:50% 0%;
    -webkit-animation: menujeu;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes menujeu{
    0%{left:-100px;opacity: 0;}
    100%{left: 0px;opacity: 1;}
}

#point, #touche, #touche_suivante, #chrono{font-size: 13px;}

#niveau{font-size: 30px;}
#point{top: 70px;}
#touche{top: 100px;}
#touche_suivante{top: 90px;}
#chrono{top: 150px;}


#commentaire{
	top: 200px;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
}


#fleche{
    width: 100px;
    height: 100px;
    transform: scale(0.3);
}

.haut{background-image: url('../img/fleche/haut.png') !important;}
.droite{background-image: url('../img/fleche/droite.png') !important;}
.bas{background-image: url('../img/fleche/bas.png') !important;}
.gauche{background-image: url('../img/fleche/gauche.png') !important;}









